<!DOCTYPE html>
<html>

<head>
    <title>{{ table }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    <script src="{{url_for('static', filename='script.js')}}"></script>
</head>

<body>
    <h3>Data of {{ table }}</h3>
    <div>
        <h style="font-size: 12px" ; for="page-size-select">Rows per page:</h>
        <select id="page-size-select">
            <option id="min_rows" ; value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>


        <h style="font-size: 12px">Page: </h>
        <h id="page-links"></h>
        <h style="font-size: 12px">Results: </h>
        <h style="font-size: 12px" ; id="results"></h>
    </div>

    <table id="data-table">
        <thead>
            <tr>
                {% for field in fields %}
                <th>
                    <input type="text" id="input-{{ loop.index0 }}" onkeyup="filterTable({{ loop.index0 }})">
                    <label for="input-{{ loop.index0 }}">{{ field }}</label>
                </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                {% for value in row %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>